.tabs {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid #aaa;
	margin-bottom: 2rem;
}

.tab {
	background-color: #e5e5e5;
	color: #666666;
	border: 1px solid transparent;
	border-bottom: 2px solid #aaa;
	padding: 1em 2em;
	margin-bottom: -2px;
	cursor: pointer;
	border-radius: 10px 10px 0 0;
}

.tab + .tab {
	margin-left: 5px;
}

.tab.active {
	background-color: white;
	font-weight: bold;
	border: 2px solid #aaa;
	border-bottom: 2px solid white;
}