.header{
  position: relative;
    display: flex;
}
h1.header--title{
  text-align: center;
  width: 90%;
}
.logo {
    display: inline-block;
    width: auto;
    height: 1em;
    margin-right: 0.3em;
  }